Options -Indexes

RewriteEngine On 

RewriteRule ^style/(.*)$ style/$1 [L]
RewriteRule ^storage/(.*)$ storage/$1 [L]
RewriteRule ^index.php/(.*)$ index.php?url=$1 [L,QSA]
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]

php_value upload_max_filesize 16M
php_value post_max_size 16M